@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


body {
    background: #fffbfb;
    color: #222;
}


/* HEADER */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
}


.logo {
    width: 150px;
}


.menu-boton{
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}


/* HERO */


.hero {
    padding: 30px 20px;
    text-align: center;
}


.slogan {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}


.hero img {
    width: 100%;
    margin: 15px 0;
}


.hero p {
    background: white;
    padding: 15px;
    border-radius: 15px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}


/* DONACIONES */


.section {
    padding: 35px 20px;
}


.title {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 25px;
}


/* items donaciones */
.item {
    text-align: center;
    margin-bottom: 30px;
}


.item h3 {
    margin-bottom: 15px;
    font-size: 18px;
}


/* iconos y botones */
.circle-boton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background: #fffbfb;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}


.circle-boton:hover {
    transform: scale(1.05);
}


.circle-boton img {
    width: 100%;
}




/* FOOTER */


.footer {
    text-align: center;
    padding: 25px;
    font-size: 14px;
    background: white;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}
/* SECCIÓN CONTACTO */
.contact-section {
    padding: 30px 20px;
    background: #ffeeef;
    border-top: 1px solid #f4e9ea;
    margin-top: 40px;
}


.contact-section h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}


/* INFO BÁSICA */
.contact-info {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}


.contact-info p {
    margin: 5px 0;
}


/* FORMULARIO */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    margin: auto;
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    background: white;
}


.contact-form textarea {
    height: 100px;
    resize: none;
}


.contact-form button {
    background: #E20713;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}


.contact-form button:hover {
    background: #bb0710;
}
